/* 56809, #84CEEB, #8860Do, #C1C8E4, #5AB9EA */

.bg-light-blue {
    background-color: #84ceeb;
}

.bg-teal {
    background-color: #66e2e8;
}

.bg-light-teal {
    background-color: #b8efed;
}

.bg-green {
    background-color: #6db784;
}

.bg-yellow {
    background-color: #f9e45b;
}

.bg-light-purple {
    background-color: #8860d0;
}

.bg-light-grey {
    background-color: #c1c8e4;
}

.bg-beige {
    background-color: #eeede5;
}

.text-beige {
    color: #eeede5;
}

.bg-blue {
    background-color: #1b4d89;
}

.bg-purple {
    background-color: #9e24f2;
}

/*#1b4d89 #f9e45b #6db784 #ffffff*/